# This is the top-most EditorConfig file
root = true

# Standard settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation settings
indent_style = space
indent_size = 2

max_line_length = off

ij_javascript_align_multiline_parameters = false
ij_typescript_align_multiline_parameters = false


# Specific overrides (optional)
[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
